*, *::before, *::after{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    text-align: center;
    margin-bottom: 5vh;
}

span{
    color: blue;
}

span:hover{
    cursor: pointer;
}

h6{
    text-align: center;
    margin-top: 1vh;
}

.form-control, .form-control:active, .form-control:focus {
    background-color: rgb(237, 242, 245);
    box-shadow: none;
    border: none;
}

label{
    color: rgb(158, 163, 168);
}

.row{
    padding: 0;
    margin: 0;
}

.tab{
    display: none;
}

.login-container{
    height: 80vh;
}

.tab-content{
    height: 60vh;
    padding: 0;
    margin: 0;
    margin-top: 5vh;
}

.btn-primary{
    margin-top: 3vh;
}

.tab-active{
    display: block;
}

.content{
    height: 100vh;
    width: 100%;
    background-color: rgb(248, 250, 251)
}